p, h1 {
    color: black;
}

@font-face {
    font-family: Antonio;
    src: url(antonio/Antonio-Regular.ttf);
}

@font-face {
    font-family: Antonio-Light;
    src: url(antonio/Antonio-Light.ttf);
}

@font-face {
    font-family: Antonio-Bold;
    src: url(antonio/Antonio-Bold);
}

body {
    width:100%;
    background-color:#C6B5C9;
    margin:auto;
    font-family:'Vollkorn',sans-serif;
    color: black;
}

ul {
    padding: 0;
}
#logo {
    margin: 10px;qz
    
    margin-right: 50px;
    height:100%;
    font-family: Antonio, sans-serif;
    letter-spacing: -5px;
    font-size:24pt;
    color:white;
}

#logo:hover {
    cursor: pointer;
}

#nav_bar {
    display:inline-block;
    width:100%;
    color:white;
    background-color:#4A068F;
    height: auto;
}

#nav_buttons {
    display:inline-block;
    height: auto;
}

#nav_buttons a {
    padding:0 15px 0 15px;
    color:white;
    font-family: Antonio;
    font-size:16pt;
    text-decoration:none;
    height: auto;
    white-space: nowrap;
}

#nav_buttons a:link {
    color:white;
    vertical-align:center;
}

#nav_buttons a:hover {
    color:white;
    background-color:#7309AA;
}

#login {
    display: none;
}

button {
    height: 30px;
}

#dining_bar {
    width:100%;
    background-color:#7309AA;
}

#dining_buttons a {
    text-align: center;
    width: 33%;
    display:inline-block;
    color: white;
    font-size:12pt;
    text-decoration:none;
}

#dining_buttons a:link {
    color:white;
    vertical-align:center;
}

#dining_buttons a:hover {
    color:#7309AA;
    background-color:white;
}