.tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.tabs {
    width: 804px;
    float: none;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 75px auto;
}

.tabs label {
    border-bottom: 4px solid green;
}
.tabs li{
    float: left;
}
.tabs label {
    display: block;
    padding: 10px 20px;
    border-radius: 2px 2px 0 0;
    color: #4A068F;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Lily Script One', helveti;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    top: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tabs label:hover {
    background: rgba(255,255,255,0.5);
    top: 0;
}

[id^=tab]:checked + label {
    background: #4A068F;
    color: white;
    top: 0;
}

[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}
.tab-content{
    z-index: 2;
    display: none;
    text-align: left;
    width: 100%;
    font-size: 16px;
    line-height: 140%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    background-color: #E8E8E8;
    color: black;
    position: absolute;
    top: 53px;
    left: 0;
    box-sizing: border-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.tab-content img {
    width: 100%;
    margin-bottom: 20px;
}

.menus {
    display:block;
    margin: 10px;
}

.menus *{
    display: inline-block;
    width: 50%;
}

.sub_menu_header {
    display: block;
    width:50%;
    margin:auto;
    text-align:center;
}

.menu-header {
    color: #0F0F0F;
}

.times {
    padding-bottom: 10px;
}
.times li {
    display: block;
    float: none;
    text-align: center;
}

.open {
    color: green;
    text-align: center;
}

.closed {
    color: red;
    text-align: center;
}

#dining_buttons a {
    width: 30%;
}

#logo {
    cursor: pointer;
}

#content {
    margin-top:-70px;
}

/*Blue Room Specific CSS*/
#tab-content3 .menus *{
    width: 100%;
    display: inline;
    text-align: center;
}

#tab-content3 .menus strong {
    display: inline-block;
    text-align: center;
}

#current-br {
    color: green;
}
