#home-content {
    margin: 20px;
    padding: 10px;
    background-color:#E8E8E8;
    clear: both;
    padding-bottom: 310px;
}

#home-content h1 {
    text-align: center;
}

#home-content p {
    font-size: 20px;
}

#home-content img {
    float: left;
    margin: 0 20px 20px 0;
    width: 700px;
}

