#login-content, #newaccount-content {
    padding: 10px;
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    background-color:#E8E8E8;
}

#newaccount-content {
    margin-top: 50px;
    
}

#newaccount-content *{
    color:black;
}

#login-content label, #newaccount-content label {
    font-size: 20px;
}

#login-content p input, #newaccount-content p input {
    float: right;
    width: 300px;
}

#login-content button {
    float: right;
    width: 100px;
    height: 30px;
    margin-left: 10px;
}
#right-panel{
    display:inline-block;
    width:40%;
    padding:2%;
}
#left-panel{
    display:inline-block;
    width:40%;
    padding:2%;
}
#rate {
    font-family:"Vollkorn", sans-serif;
    width: 60%;
    background-color:#F5F5F5;
    border:2px;
    border-style:solid;
    border-color:#A4A4A4;
    height:200px;
    overflow-y:auto;
    margin-left:30%;
}
#rate li {
    font-family:"Vollkorn", sans-serif;
    color: black;
    list-style: decimal;
    font-size: 16pt;
}

#rate img {
    width: 35px;
    opacity: .5;
}

#rate img:hover {
    cursor: pointer;
}

#rate_msg {
    display: none;
    color: red;
}