#login-content, #newaccount-content {
    padding: 10px;
    width: 450px;
    margin-left: calc(50% - 200px);
    margin-top: 100px;
}

#newaccount-content {
    margin-top: 50px;
}

#login-content label, #newaccount-content label {
    font-size: 20px;
}

#login-content p input, #newaccount-content p input {
    float: right;
    width: 300px;
}

#login-content button {
    float: right;
    width: 100px;
    height: 30px;
    margin-left: 10px;
}

#rate {
    font-family:"Vollkorn", sans-serif;
    width: 500px;
    margin-left: 40%;
}
#rate li {
    font-family:"Vollkorn", sans-serif;
    color: white;
    list-style: decimal;
    font-size: 16pt;
}

#rate img {
    width: 35px;
    opacity: .5;
}

#rate img:hover {
    cursor: pointer;
}

#rate_msg {
    display: none;
    color: red;
}