/*
  css for my dining subpages
*/
.food-price {
    color: green;
}

#missing-food-form{
    display:block;
}
#mainstuff{
    width:80%;
    margin:auto;
}

#cart{
    height:300px;
    overflow-y:scroll;
}
#right-panel
{
    display:inline-block;
    margin-left:50px;
    margin-top:50px;
    width:30%;
    background-color:#E8E8E8;
    padding:10px;

}
#browse-form {
    font-family:"Vollkorn", sans-serif;
    margin-left: 40%;
}

#log-form {
    display:block;
}

#log-form input, #browse-form input {
    width: 200px;
    height: 30px;
}

#left-panel {
    display:inline-block;
    padding:10px;
    margin: 50px;
    float:left;
    text-align: center;
    background-color:#E8E8E8;
    width: 50%;
}

#left-panel button {
    width: 40%;
}

#log-input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 30px;
    float: left;
}

[id^=log-form-list-] {
    overflow-y: auto;
    height: 300px;
}

[id^=log-form-list-] li, #cart li {
    display:block;
    width:100%;
    cursor: pointer;
    list-style: none;
    margin: 5px;
}

[id^=log-form-list-] li:hover, #cart li:hover {
    background: tan;
}

#prev-transactions {
    font-family:"Vollkorn", sans-serif;
    margin-top: 50px;
    color: white;
    text-align: center;
}

#prev-transactions li {
    font-family:"Vollkorn", sans-serif;
    list-style: none;
    font-size: 16pt;
}

#browse-items {
    font-family:"Vollkorn", sans-serif;
}
#browse-results {
    font-family:"Vollkorn", sans-serif;
    width: 500px;
    margin-left: 40%;
}
#browse-items li {
    font-family:"Vollkorn", sans-serif;
    color: white;
    list-style: decimal;
    font-size: 16pt;
}

#browse-results img {
    width: 35px;
    opacity: .5;
}

#browse-results img:hover {
    cursor: pointer;
}

#knapsack-stuff {
    float:clear;
    font-family:"Vollkorn", sans-serif;
}

/* Accordion stuff */
.accordion {
    clear: both;
    padding: 1px 5px 5px 5px;
}

.accordion label {
    display: block;
    padding: 5px;
    color: white;
    background-color:#7309AA;
    cursor: pointer;
}

.accordion label:hover, [id^=tab]:checked + label {
    background-color: #4A068F;
}

.accordion div .content {
    display: none;
}

.accordion div:target .content {
    display: block;
}

[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}

.accradio {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.accordion > div {
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.accordion > div:target {
    height: 360px;
}