#dining_bar {
    height:20px;
    width:100%;
    background-color:#7309AA;
}

#dining_buttons {
    width:500px;
    margin:auto;
}

#dining_buttons a{
    display:inline-block;
    height:20px;
    padding:0 10px 0 10px;
    color: white;
    font-size:12pt;
    text-decoration:none;
}

#dining_buttons a:link{
    color:white;
    vertical-align:center;
}

#dining_buttons a:hover{
    color:#7309AA;
    background-color:white;
}

#logo {
    cursor: pointer;
}
/*
  css for my dining subpages
*/
#log-form, #browse-form {
    font-family:"Vollkorn", sans-serif;
    margin-top: 50px;
    margin-left: 40%;
}

#log-form input, #browse-form input {
    width: 200px;
    height: 30px;
}
#left-panel{
    margin-left:50px;
    background-color:#E8E8E8;;
    float:left;
}

#log-form-list {
    overflow-y: auto;
    height: 300px;
}

#log-form-list li {

    display: block;
}

#prev-transactions {
    font-family:"Vollkorn", sans-serif;
    display: none;
    margin-top: 50px;
    color: white;
    text-align: center;
}

#prev-transactions li {
    font-family:"Vollkorn", sans-serif;
    list-style: none;
    font-size: 16pt;
}

#browse-items {
    font-family:"Vollkorn", sans-serif;
    display: none;
}
#browse-results {
    font-family:"Vollkorn", sans-serif;
    width: 500px;
    margin-left: 40%;
}
#browse-items li {
    font-family:"Vollkorn", sans-serif;
    color: white;
    list-style: decimal;
    font-size: 16pt;
}

#browse-results img {
    width: 35px;
    opacity: .5;
}

#browse-results img:hover {
    cursor: pointer;
}

#knapsack-stuff {
    font-family:"Vollkorn", sans-serif;
}

