#content {
    width:80%;
    margin: auto;
    padding: 10px;
}

#myframe {
    width:739px;
    height:431px;
    overflow:hidden;
    margin: 15px auto;
}

#myframe iframe {
    width:977px;
    height:718px;
    margin-left:0px;
    margin-top:-94px;
}

#track-credits-form {
    color: black;
}

#tracking {
    color: black;
    width: 172px;
    margin: 0 auto;
}