<!DOCTYPE html />
<html>
  <head>
    <title>MyMealPlan</title>
    <link rel="stylesheet" type="text/css" href="templates/MyMealPlan.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="dininghalls.js"></script>
  </head>
  <body>
    <img id="logo" src="templates/imgs/logo.png"/>
    <div id="nav_bar">
      <div id="nav_buttons">
	<a id="dininghalls" href="#">Dining Halls</a>
	<a id="mydining" href="templates/mydining.html">My Dining</a>
	<a id="specials" href="templates/">Specials at a Glance</a>
	<a id="login" href="#">Login</a>
      </div>
    </div>
    <div id="content">
      <ul class="tabs">
        <li>
          <input type="radio" checked name="tabs" id="tab1">
          <label for="tab1">Ratty</label>
          <div id="tab-content1" class="tab-content animated fadeIn">
            <div id="status-ratty" class="open"></div>
            <ul class="times"></ul>
            <ul class="menus"></ul>
          </div>
        </li>
        <li>
          <input type="radio" name="tabs" id="tab2">
          <label for="tab2">VDub</label>
          <div id="tab-content2" class="tab-content animated fadeIn">
            <div id="status-vdub" class="open"></div>
            <ul class="times"></ul>
            <ul class="menus"></ul>
          </div>
        </li>
        <li>
          <input type="radio" name="tabs" id="tab3">
          <label for="tab3">Blue Room</label>
          <div id="tab-content3" class="tab-content animated fadeIn">
            <div id="status-blueroom" class="open"></div>
            <ul class="times"></ul>
            <ul class="menus">
              <li class="menu-header">Soups (starting at 11AM)</li>
              <li class="menu-header">Main Dinner (starting at 4PM)</li>
              </ul>
          </div>
        </li>
        <li>
          <input type="radio" name="tabs" id="tab4">
          <label for="tab4">Ivy Room</label>
          <div id="tab-content4" class="tab-content animated fadeIn">
            <div id="status-ivyroom" class="open"></div>
            <ul class="times"></ul>
            <ul class="menus"></ul>
          </div>
        </li>
        <li>
          <input type="radio" name="tabs" id="tab5">
          <label for="tab5">Andrew's Commons</label>
          <div id="tab-content5" class="tab-content animated fadeIn">
            <div id="status-aco" class="open"></div>
            <ul class="times"></ul>
            <ul class="menus"></ul>
          </div>
        </li>
        <li>
          <input type="radio" name="tabs" id="tab6">
          <label for="tab6">Jo's</label>
          <div id="tab-content6" class="tab-content animated fadeIn">
            <div id="status-jos" class="open"></div>
            <ul class="times"></ul>
            <ul class="menus"></ul>
          </div>
        </li>

      </ul>
    </div>
</body>
</html>
