p, h1 {
    color: black;
}

@font-face {
    font-family: Antonio;
    src: url(antonio/Antonio-Regular.ttf);
}

@font-face {
    font-family: Antonio-Light;
    src: url(antonio/Antonio-Light.ttf);
}

@font-face {
    font-family: Antonio-Bold;
    src: url(antonio/Antonio-Bold);
}

body {
    width:100%;
    background-color:#C6B5C9;
    margin:auto;
    font-family: Antonio;
    color: black;
}

#logo {
    display:inline-block;
    width:300px;
    height:100%;
    margin:0 auto;
    font-family: Antonio, sans-serif;
    letter-spacing: -5px;
    padding-left:30px;
    font-size:24pt;
    color:white;
}

#nav_bar {
    display:inline-block;
    height:50px;
    width:100%;
    color:white;
    background-color:#4A068F;
}

#nav_buttons {
    display:inline-block;
    height:100%;
    width:580px;
    
}

#nav_buttons a {
    display:inline-block;
    margin:0 auto;
    padding:0 15px 0 15px;
    color:white;
    font-size:16pt;
    text-decoration:none;
}

#nav_buttons a:link {
    color:white;
    vertical-align:center;
}

#nav_buttons a:hover {
    color:white;
    background-color:#7309AA;
}


.content_box {
    width:600px;
    height:600px;
    margin:auto;
    color:black;
    background-color:white;

}

.tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.tabs {
    width: 804px;
    float: none;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 75px auto;
}
.tabs li{
    float: left;
}
.tabs label {
    display: block;
    padding: 10px 20px;
    border-radius: 2px 2px 0 0;
    color: #4A068F;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Lily Script One', helveti;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    top: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tabs label:hover {
    background: rgba(255,255,255,0.5);
    top: 0;
}

[id^=tab]:checked + label {
    background: #4A068F;
    color: white;
    top: 0;
}

[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}
.tab-content{
    z-index: 2;
    display: none;
    text-align: left;
    width: 100%;
    font-family:'Vollkorn',sans-serif;
    font-size: 14px;
    line-height: 140%;
    padding-top: 10px;
    background-color: #E8E8E8;
    padding: 15px;
    color: black;
    position: absolute;
    top: 53px;
    left: 0;
    box-sizing: border-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.menus *{
	display: inline-block;
	width: 50%;
}

.menu-header {
    color: #0F0F0F;
}

.times {
    padding-bottom: 10px;
}
.times li {
    display: block;
    float: none;
    text-align: center;
}

.open {
    color: black;
    text-align: center;
}

.closed {
    color: black;
    text-align: center;
}


#logo {
    cursor: pointer;
}

#content {
	margin-top:-70px;
}
