<!DOCTYPE html />
<html>
  <head>
    <title>MyMealPlan</title>
    <link rel="icon" href="templates/imgs/avocado.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="templates/dininghalls.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="dininghalls.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="nav_bar">
      <a id="logo" ><strong>My Meal Plan</strong></a>
      <div id="nav_buttons">
      <a id="dininghalls" href="/dininghalls">Dining Halls</a>
      <a id="mydining" href="/mydining">My Dining</a>
      <a id="specials" href="/specials">Specials at a Glance</a>
      <a id="login" href="/login">Login</a>
      </div>
    </div>
    <div id="content">
      <ul class="tabs">
        <li>
          <input type="radio" checked name="tabs" id="tab1">
          <label id="ratty-tab" for="tab1">Ratty</label>
          <div id="tab-content1" class="tab-content animated fadeIn">
            <div id="status-ratty" class="open"></div>
            <ul class="times"></ul>
	    <img src="templates/imgs/ratty.jpg"/>
            <ul class="menus"></ul>
          </div>
        </li>
        <li>
          <input type="radio" name="tabs" id="tab2">
          <label id="vdub-tab" for="tab2">VDub</label>
          <div id="tab-content2" class="tab-content animated fadeIn">
            <div id="status-vdub" class="open"></div>
            <ul class="times"></ul>
	    <img src="templates/imgs/vdub.jpg"></img>
            <ul class="menus"></ul>
          </div>
        </li>
        <li>
          <input type="radio" name="tabs" id="tab3">
          <label id="blueroom-tab" for="tab3">Blue Room</label>
          <div id="tab-content3" class="tab-content animated fadeIn">
            <div id="status-blueroom" class="open"></div>
            <ul class="times"></ul>
	    <img src="templates/imgs/blue-room.jpg"/>
            <ul class="menus">
              <li class="menu-header">Soups (starting at 11AM)</li>
              <li class="menu-header">Main Dinner (starting at 4PM)</li>
            </ul>
          </div>
        </li>
        <li>
          <input type="radio" name="tabs" id="tab4">
          <label id="ivyroom-tab" for="tab4">Ivy Room</label>
          <div id="tab-content4" class="tab-content animated fadeIn">
            <div id="status-ivyroom" class="open"></div>
            <ul class="times"></ul>
	    <img src="templates/imgs/ivy-room.jpg">
            <ul class="menus"></ul>
          </div>
        </li>
        <li>
          <input type="radio" name="tabs" id="tab5">
          <label id="aco-tab" for="tab5">Andrew's Commons</label>
          <div id="tab-content5" class="tab-content animated fadeIn">
            <div id="status-aco" class="open"></div>
            <ul class="times"></ul>
	    <img src="templates/imgs/commons.jpg"/>
            <ul class="menus"></ul>
          </div>
        </li>
        <li>
          <input type="radio" name="tabs" id="tab6">
          <label id="jos-tab" for="tab6">Jo's</label>
          <div id="tab-content6" class="tab-content animated fadeIn">
            <div id="status-jos" class="open"></div>
            <ul class="times"></ul>
	    <img src="templates/imgs/jos.jpg"/>
            <ul class="menus"></ul>
          </div>
        </li>
      </ul>
    </div>
</body>
</html>
