<!DOCTYPE html />
<html>
  <head>
    <title>MyMealPlan</title>
    <link rel="icon" href="templates/imgs/avocado.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="templates/MyMealPlan.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="home.js"></script>
  </head>
  <body>
    <img id="logo" src="templates/imgs/logo.png"/><a href="/"></a></img>
    <div id="nav_bar">
      <div id="nav_buttons">
	<a id="dininghalls" href="#">Dining Halls</a>
	<a id="mydining" href="templates/mydining.html">My Dining</a>
	<a id="specials" href="templates/">Specials at a Glance</a>
	<a id="login" href="#">Login</a>
      </div>
    </div>
    <div id="home-content">
      <img src="templates/imgs/brownhome.jpg"></img>
      <h1>Welcome to MyMealPlan!</h1>
      <p>Login for a customized experience and tools to manage your meal plan, or browse around for general information!</p>
  </body>
</html>
