<!DOCTYPE html />
<html>
  <head>
    <title>MyMealPlan</title>
    <link rel="stylesheet" type="text/css" href="templates/MyMealPlan.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="home.js"></script>
  </head>
  <body>
    <img id="logo" src="templates/imgs/logo.png"/>
    <div id="nav_bar">
      <div id="nav_buttons">
	<a id="dininghalls" href="#">Dining Halls</a>
	<a id="mydining" href="templates/mydining.html">My Dining</a>
	<a id="specials" href="templates/">Specials at a Glance</a>
	<a id="login" href="#">Login</a>
      </div>
    </div>
    <div id="content">
      <ul class="tabs">
        <li>
          <input type="radio" checked name="tabs" id="tab1">
          <label for="tab1">Ratty Menu</label>
          <div id="tab-content1" class="tab-content animated fadeIn">
            <ul class="menus"></ul>
          </div>
        </li>
        <li>
          <input type="radio" name="tabs" id="tab2">
          <label for="tab2">VDub Menu</label>
          <div id="tab-content2" class="tab-content animated fadeIn">
            <ul class="menus"></ul>
          </div>
        </li>
      </ul>

    </div>
  </body>
</html>
