<!DOCTYPE html />
<html>
  <head>
    <title>MyMealPlan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="login-type" content="{{login}}">
    <link rel="icon" href="templates/imgs/avocado.png" type="image/x-icon">    
    <link rel="stylesheet" type="text/css" href="static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="static/css/login.css" />
    <link rel="stylesheet" href="static/css/mobile.css" type="text/css" media="only screen and (max-width: 760px)"/>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="static/js/login.js"></script>
  </head>
  <body>
    <div id="nav_bar">
      <a id="logo" ><strong>My Meal Plan</strong></a>
      <div id="nav_buttons">
      <a id="dininghalls" href="/dininghalls">Dining Halls</a>
      <a id="mydining" href="/mydining">My Dining</a>
      <a id="specials" href="/specials">Specials at a Glance</a>
      <a id="login" href="/login">Login</a>
      </div>
    </div>
    
    <div id="login-content">
      <form id="login-form" action="/retrieveUser" method="post">
	<p><label>Username (Email):</label><input id="username" name="username" type="text"></p>
	<p><label>Password:</label><input id="password" name="password" type="password"></p>
	<button  id="submit" name="submit" type="submit">Login</button>
	<button id="register" name="register" type="button">Register</button>
	<span id="login-failed"></span>
      </form>
    </div>
  </body>
</html>
