<!DOCTYPE html />
<html>
  <head>
    <title>MyMealPlan</title>
    <link rel="icon" href="../imgs/avocado.png" type="image/x-icon">    
    <link rel="stylesheet" type="text/css" href="templates/MyMealPlan.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="login.js"></script>
  </head>
  <body>
    <img id="logo" src="templates/imgs/logo.png"/><a href="/"></a></img>
    <div id="nav_bar">
      <div id="nav_buttons">
	<a id="dininghalls" href="#">Dining Halls</a>
	<a id="mydining" href="templates/mydining.html">My Dining</a>
	<a id="specials" href="templates/">Specials at a Glance</a>
	<a id="login" href="#">Login</a>
      </div>
    </div>
    <button id="new-account">Create New Account</button>
    <form id="login-form" method="post" action="/retrieveUser">
      Username (Email): <input id="username" name="username" type="text">
      Password:<input id="password" name="password" type="password">
      <input id="submit" name="submit" type="submit">      
    </form>
  </body>
</html>
