<!DOCTYPE html />
<html>
  <head>
    <title>MyMealPlan</title>
    <meta name="login-type" content="{{login}}">
    <link rel="icon" href="templates/imgs/avocado.png" type="image/x-icon">    
    <link rel="stylesheet" type="text/css" href="templates/MyMealPlan.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="login.js"></script>
  </head>
  <body>
    <img id="logo" src="templates/imgs/logo.png"/><a href="/"></a></img>
    <div id="nav_bar">
      <div id="nav_buttons">
	<a id="dininghalls" href="#">Dining Halls</a>
	<a id="mydining" href="templates/mydining.html">My Dining</a>
	<a id="specials" href="templates/">Specials at a Glance</a>
	<a id="login" href="#">Login</a>
      </div>
    </div>
    <div id="login-content">
      <form id="login-form" action="/retrieveUser" method="post">
	<p><label>Username (Email):</label><input id="username" name="username" type="text"></p>
	<p><label>Password:</label><input id="password" name="password" type="password"></p>
	<button  id="submit" name="submit" type="submit">Login</button>
	<button id="register" name="register" type="button">Register</button>
	<span id="login-failed"></span>
      </form>
    </div>
  </body>
</html>
