<!DOCTYPE html />
<html>
  <head>
    <title>MyMealPlan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="name" content="{{name}}">
    <link rel="icon" href="static/imgs/avocado.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="static/css/mydininglog.css" />
    <link href="http://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/mobile.css" type="text/css" media="only screen and (max-width: 760px)"/>
    
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="static/js/mydininglog.js"></script>
    <script type="text/javascript" src="static/js/base.js"></script>
  </head>
  <body>
    <div id="nav_bar">
      <a id="logo" ><strong>My Meal Plan</strong></a>
      <div id="nav_buttons">
	<a id="dininghalls" href="/dininghalls">Dining Halls</a>
	<a id="mydining" href="/mydining">My Dining</a>
	<a id="specials" href="/specials">Specials at a Glance</a>
	<a id="login" href="/login">Login</a>
  <a id="logout" href="/logout">Logout</a>
   <button id="logerror"> Report a bug </button>
  <span id="welcomeMsg"></span>
      </div>
    </div>
    <div id="dining_bar">
      <div id="dining_buttons">
        <a id="credits_and_points" href="/mydining"> Credits and Points </a>
        <a id="purchase" href="/logpurchase"> Log Purchase </a>
        <a id="allpurchase" href="/prevtransactions"> Previous Transactions </a>
        <a id="browse" href="/browseitems"> Browse Items </a>
      </div>
    </div>

    <div id="content">
      <div id="right-panel">
      <form id="log-form" method="post">
        <h1>Log a Purchase</h1>
        <p>Add items to your cart</p>
        <ul id="cart">
        </ul>
        <button type="submit">Submit</button>
      </form>
      <button id="somethingmissing"> Report missing food </button>
      <form id="missing-food-form" method="post">
        <p><label>Missing item:</label><input id="item" name="item" type="text"></p>
        <p><label>Price: $</label><input id="pricedollar" name="pricedollar" type="number"> . <input type="number" name="pricecents" id="pricecents"> </p>
        <p>Andrews Commons<input id="aco" class="rdio" name="dininghall" value="aco" type="radio"></p>
        <p>Jo's <input id="jos" class="rdio" name="dininghall" value="jos" type="radio"></p>
         <p>Ivy Room<input id="ivy" class="rdio" name="dininghall" value="ivy" type="radio"></p>
         <p>BlueRoom<input id="blueroom" class="rdio" name="dininghall" value="blueroom" type="radio"></p>
         <div id="missing-error"> </div>
        <button type="submit"> Submit </button>
        </form>
      
     </div>
      <div id="left-panel">
        <div id="knapsack-stuff"> 
	  Your total so far is 
	  <div id="total">0</div> 
	</div>    
	
        <button id="knapsack"> Fill my credit! </button>
        <button id="knapsack2"> Fill two credits! </button>
        <button id="tryagain"> Remove Suggestions </button>
        <input id="log-input" name="item" type="text" placeholder="Search for an item">
	
        <div class="accordion">
          <div>
	    <input type="radio" checked name="tabs" id="tab3" class="accradio">
            <label id="blueroom-tab" for="tab3" class="tab">Blue Room</label>
            <div id="tab-content3" class="content">
              <ul id="log-form-list-blueroom">
              </ul> 
            </div>
	  </div>
          <div>
	    <input type="radio" name="tabs" id="tab4" class="accradio">
            <label id="ivyroom-tab" for="tab4">Ivy Room</label>
            <div id="tab-content4" class="content">
              <ul id="log-form-list-ivy">
              </ul> 
            </div>
          </div>
          <div>
	    <input type="radio" name="tabs" id="tab5" class="accradio">
            <label id="aco-tab" for="tab5">Andrew's Commons</label>
            <div id="tab-content5" class="content">
              <ul id="log-form-list-aco">
              </ul> 
            </div>
          </div>
          <div>
	    <input type="radio" name="tabs" id="tab6" class="accradio">
            <label id="jos-tab" for="tab6">Jo's</label>
            <div id="tab-content6" class="content">
              <ul id="log-form-list-jos">
              </ul> 
            </div>
          </div>
	</div>
      </div>
    </div>
  </body>
</html>
