<!DOCTYPE html />
<html>
  <head>
    <title>MyMealPlan</title>
    <link rel="icon" href="templates/imgs/avocado.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="templates/MyMealPlan.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="mydininglog.js"></script>
  </head>
  <body>
    <img id="logo" src="templates/imgs/logo.png"/>
    <div id="nav_bar">
      <div id="nav_buttons">
      	<a id="dininghalls" href="/dininghalls">Dining Halls</a>
      	<a id="mydining" href="/mydining">My Dining</a>
      	<a id="specials" href="/specials">Specials at a Glance</a>
      	<a id="login" href="/login">Login</a>
      </div>
    </div>
    <div id="dining_bar">
      <div id="dining_buttons">
      	<a id="credits_and_points" href="#">Credits and Points</a>
      	<a id="purchase" href="#">Log Purchase</a>
      	<a id="allpurchase" href="#">Previous Transactions</a>
      	<a id="browse" href="#">Browse Items</a>
      </div>
    </div>
    
    <form id="log-form" action="/retrieveUser" method="post">
      <h1>Log a Purchase</h1>
      <input id="log-input" name="item" type="text">
      <ul id="log-form-list">
      </ul>
      <input type="submit">
    </form>
    
    <div id="prev-transactions">
      <ul>
      	<li>Sample History 1</li>
      	<li>Sample History 2</li>
      </ul>
    </div>
    
    <div id="browse-items">
      <form id="browse-form" action="/retrieveUser" method="post">
      	<h1>Search</h1>
      	<input id="browse-input" name="browse-input" type="text">
      </form>
      <div id="browse-results">
      	<ul>
       </ul>
      </div>
    </div>
  </body>
</html>
