p, h1 {
    color: black;
}

@font-face {
    font-family: Antonio;
    src: url(antonio/Antonio-Regular.ttf);
}

@font-face {
    font-family: Antonio-Light;
    src: url(antonio/Antonio-Light.ttf);
}

@font-face {
    font-family: Antonio-Bold;
    src: url(antonio/Antonio-Bold);
}

body {
    width:100%;
    background-color:#C6B5C9;
    margin:auto;
    font-family: Antonio;
    color: black;
}

#content {
    font-family: "Vollkorn", sans-serif;
}

#logo {
    display:inline-block;
    width:300px;
    height:100%;
    margin:0 auto;
    font-family: Antonio, sans-serif;
    letter-spacing: -5px;
    padding-left:30px;
    font-size:24pt;
    color:white;
}

#nav_bar {
    display:inline-block;
    height:45px;
    width:100%;
    color:white;
    background-color:#4A068F;
}

#nav_buttons {
    display:inline-block;
    height:100%;
    width:580px;
    
}

#nav_buttons a {
    display:inline-block;
    height:100%;
    margin:0 auto;
    padding:0 15px 0 15px;
    color:white;
    font-size:16pt;
    text-decoration:none;
}

#nav_buttons a:link {
    color:white;
    vertical-align:center;
}

#nav_buttons a:hover {
    color:white;
    background-color:#7309AA;
}


#dining_bar {
    height:20px;
    width:100%;
    background-color:#7309AA;
}

#dining_buttons {

    width:500px;
    margin:auto;
}

#dining_buttons a{
    display:inline-block;
    height:20px;
    padding:0 10px 0 10px;
    color: white;
    font-size:12pt;
    text-decoration:none;
}

#dining_buttons a:link{
    color:white;
    vertical-align:center;
}

#dining_buttons a:hover{
    color:#7309AA;
    background-color:white;
}



#logo {
    cursor: pointer;
}
/*
  css for my dining subpages
*/
#log-form, #browse-form {
    font-family:"Vollkorn", sans-serif;
    margin-top: 50px;
    margin-left: 40%;
}

#log-form input, #browse-form input {
    width: 200px;
    height: 30px;
}

#log-form-list {
    float: left;
    overflow-y: auto;
    height: 300px;
}

#log-form-list li {

    display: block;
}

#prev-transactions {
    font-family:"Vollkorn", sans-serif;
    display: none;
    margin-top: 50px;
    color: white;
    text-align: center;
}

#prev-transactions li {
    font-family:"Vollkorn", sans-serif;
    list-style: none;
    font-size: 16pt;
}

#browse-items {
    font-family:"Vollkorn", sans-serif;
    display: none;
}
#browse-results {
    font-family:"Vollkorn", sans-serif;
    width: 500px;
    margin-left: 40%;
}
#browse-items li {
    font-family:"Vollkorn", sans-serif;
    color: white;
    list-style: decimal;
    font-size: 16pt;
}

#browse-results img {
    width: 35px;
    opacity: .5;
}

#browse-results img:hover {
    cursor: pointer;
}

#knapsack-stuff {
    font-family:"Vollkorn", sans-serif;
}

