<!DOCTYPE html />
<html>
  <head>
    <title>MyMealPlan</title>
    <meta name="login-type" content="{{login}}">
    <link rel="icon" href="templates/imgs/avocado.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="templates/MyMealPlan.css" />
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="mydining.js"></script>
  </head>
  <body>
    <div id="nav_bar">
      <a id="logo" ><strong>My Meal Plan</strong></a>
      <div id="nav_buttons">
      <a id="dininghalls" href="/dininghalls">Dining Halls</a>
      <a id="mydining" href="/mydining">My Dining</a>
      <a id="specials" href="/specials">Specials at a Glance</a>
      <a id="login" href="/login">Login</a>
      </div>
    </div>
  <div id="dining_bar">
    <div id="dining_buttons">
      <a id="credits_and_points" href="#"> Credits and Points </a>
      <a id="purchase" href="#"> Log Purchase </a>
      <a id="allpurchase" href="#"> Previous Transactions </a>
      <a id="browse" href="#"> Browse Items </a>
    </div>
  </div>

  <div id="myframe">
    <iframe src="http://www.brown.edu/getportal" scrolling="no"></iframe>
  </div>
  <div id="tracking">
    Track your credit/points usage
    <form id="track-credits-form">
      Credits: <input name="credits" id="credits" type="text">
      <span id="creditsErr">Credits should be a number</span><br/>
      Points: <input name="points" id="points" type="text">
      <span id="pointsErr">Points should be a number (with or without decimal point)</span><br/>
      <input type="submit">
    </form>
    <span id="creditsLeft"></span><br/>
    <span id="pointsLeft"></span>
    <span id="logged-in"></span>
  </div>
</body>
</html>
