@font-face
{
    font-family: Antonio;
    src: url(antonio/Antonio-Regular.ttf);
}

@font-face
{
    font-family: Antonio-Light;
    src: url(antonio/Antonio-Light.ttf);
}

@font-face
{
    font-family: Antonio-Bold;
    src: url(antonio/Antonio-Bold);
}

body {
    width:100%;
    background-color:black;
    margin:auto;
    font-family: Antonio;
}

#logo{
    display:block;
    width:300px;
    height:100px;
    margin:0 auto;
    background-color:white;
}

#nav_bar {
    width:100%;
    background-color:lime;
}

#nav_buttons {
    width:468px;
    margin:auto;
}

#nav_buttons a{
    display:inline-block;
    height:30px;
    padding:0 10px 0 10px;
    color: black;
    font-size:16pt;
    text-decoration:none;
}

#nav_buttons a:link{
    color:darkgreen;
    vertical-align:center;
}

#nav_buttons a:hover{
    color:lime;
    background-color:darkgreen;
}


.content_box {
    width:600px;
    height:600px;
    margin:auto;
    color:white;
    background-color:#0F0F0F;

}

.tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.tabs {
    width: 804px;
    float: none;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 75px auto;
}
.tabs li{
    float: left;
}
.tabs label {
    display: block;
    padding: 10px 20px;
    border-radius: 2px 2px 0 0;
    color: #08C;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Lily Script One', helveti;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    top: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tabs label:hover {
    background: rgba(255,255,255,0.5);
    top: 0;
}

[id^=tab]:checked + label {
    background: #08C;
    color: white;
    top: 0;
}

[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}
.tab-content{
    z-index: 2;
    display: none;
    text-align: left;
    width: 100%;
    font-size: 20px;
    line-height: 140%;
    padding-top: 10px;
    background: #08C;
    padding: 15px;
    color: white;
    position: absolute;
    top: 53px;
    left: 0;
    box-sizing: border-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.menus *{
	display: inline-block;
	width: 50%;
}

.menu-header {
    color: #0F0F0F;
}

.times {
    padding-bottom: 10px;
}
.times li {
    display: block;
    float: none;
    text-align: center;
}

.open {
    color: lime;
    text-align: center;
}

.closed {
    color: black;
    text-align: center;
}

#new-account-form {
    color: white;
}

#myframe {
    width:739px;
    height:431px;
    overflow:hidden;
    margin: 15px auto;
}

#myframe iframe {
    width:977px;
    height:718px;
    margin-left:0px;
    margin-top:-94px; /*-270px;*/

/*    width: 1000px;
    display: block;
    margin: 15px auto;
    height: 250px;
    margin-top: ;
*/}

#track-credits-form {
    color: white;
}

#tracking {
    color: white;
    width: 172px;
    margin: 0 auto;
}

#logo {
    cursor: pointer;
}

#specials-list li{
    color: white;
}