p, h1 {
    color: white;
}

@font-face {
    font-family: Antonio;
    src: url(antonio/Antonio-Regular.ttf);
}

@font-face {
    font-family: Antonio-Light;
    src: url(antonio/Antonio-Light.ttf);
}

@font-face {
    font-family: Antonio-Bold;
    src: url(antonio/Antonio-Bold);
}

body {
    width:100%;
    background-color:black;
    margin:auto;
    font-family: Antonio;
    color: white;
}

#suggestion {

	display:inline-block;
	margin-left:calc(50% - 50px);;
}

#suggestion *{
	display:inline-block;
	margin: 0 auto;
}

#logo {
    display:block;
    width:300px;
    height:100px;
    margin:0 auto;
    background-color:white;
}

#nav_bar {
    width:100%;
    background-color:lime;
}

#nav_buttons {
    width:468px;
    margin:auto;
}

#nav_buttons a {
    display:inline-block;
    height:30px;
    padding:0 10px 0 10px;
    color: black;
    font-size:16pt;
    text-decoration:none;
}

#nav_buttons a:link {
    color:darkgreen;
    vertical-align:center;
}

#nav_buttons a:hover {
    color:lime;
    background-color:darkgreen;
}

/*
  css for home page
*/
#home-content {
    margin: 20px;
    padding: 10px;
}
#home-content h1 {
    text-align: center;
}
#home-content p {
    font-size: 20px;
}
#home-content img {
    float: left;
    margin: 0 20px 20px 0;
    width: 700px;
}
/*
  end css for home page
*/

#dining_bar {
    height:20px;
    width:100%;
    background-color:darkgreen;
}

#dining_buttons {

    width:500px;
    margin:auto;
}

#dining_buttons a{
    display:inline-block;
    height:20px;
    padding:0 10px 0 10px;
    color: lime;
    font-size:12pt;
    text-decoration:none;
}

#dining_buttons a:link{
    color:lime;
    vertical-align:center;
}

#dining_buttons a:hover{
    color:darkgreen;
    background-color:lime;
}


.content_box {
    width:600px;
    height:600px;
    margin:auto;
    color:white;
    background-color:#0F0F0F;

}

.tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.tabs {
    width: 804px;
    float: none;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 75px auto;
}
.tabs li{
    float: left;
}
.tabs label {
    display: block;
    padding: 10px 20px;
    border-radius: 2px 2px 0 0;
    color: #08C;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Lily Script One', helveti;
    background: rgba(255,255,255,0.2);
    cursor: pointer;
    position: relative;
    top: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.tabs label:hover {
    background: rgba(255,255,255,0.5);
    top: 0;
}

[id^=tab]:checked + label {
    background: #08C;
    color: white;
    top: 0;
}

[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}
.tab-content{
    z-index: 2;
    display: none;
    text-align: left;
    width: 100%;
    font-size: 20px;
    line-height: 140%;
    padding-top: 10px;
    background: #08C;
    padding: 15px;
    color: white;
    position: absolute;
    top: 53px;
    left: 0;
    box-sizing: border-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.menus *{
	display: inline-block;
	width: 50%;
}

.menu-header {
    color: #0F0F0F;
}

.times {
    padding-bottom: 10px;
}
.times li {
    display: block;
    float: none;
    text-align: center;
}

.open {
    color: lime;
    text-align: center;
}

.closed {
    color: black;
    text-align: center;
}

#new-account-form {
    color: white;
}

#myframe {
    width:739px;
    height:431px;
    overflow:hidden;
    margin: 15px auto;
}

#myframe iframe {
    width:977px;
    height:718px;
    margin-left:0px;
    margin-top:-94px; /*-270px;*/

/*    width: 1000px;
    display: block;
    margin: 15px auto;
    height: 250px;
    margin-top: ;
*/}

#track-credits-form {
    color: white;
}

#tracking {
    color: white;
    width: 172px;
    margin: 0 auto;
}

#logo {
    cursor: pointer;
}

#specials-list li{
    color: white;
}

#login-form {
    color: white;
}

#logged-in {
    color: white;
}

/*
  css for login page and newaccount page
*/
#login-content, #newaccount-content {
    padding: 10px;
    width: 400px;
    margin-left: calc(50% - 200px);
    margin-top: 100px;
}

#newaccount-content {
    margin-top: 50px;
}

#login-content label, #newaccount-content label {
    font-size: 20px;
}

#login-content p input, #newaccount-content p input {
    float: right;
    width: 250px;
    height: 30px;
}


#login-content button {
    float: right;
    width: 100px;
    height: 30px;
    margin-left: 10px;
}

/*
  css for specials page 
*/
#specials-content {
    width: 600px;
    margin-left: calc(50% - 300px);
    margin-top: 50px;
}

#specials-content li {
    list-style: none;
}
#specials-suggest-wrapper {
    margin-top: 50px;
    text-align: center;
}
.SuggestButton {
	background-color:#f24537;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #a81b10;
}
.SuggestButton:hover {
	background-color:#c62d1f;
}
.SuggestButton:active {
	position:relative;
	top:1px;
}


/*
  css for my dining subpages
*/
#log-form, #browse-form {
    margin-top: 50px;
    margin-left: 40%;
}

#log-form input, #browse-form input {
    width: 200px;
    height: 30px;
}

#prev-transactions {
    display: none;
    margin-top: 50px;
    color: white;
    text-align: center;
}

#prev-transactions li {
    list-style: none;
    font-size: 16pt;
}

#browse-items {
    display: none;
}
#browse-results {
    width: 500px;
    margin-left: 40%;
}
#browse-items li {
    color: white;
    list-style: decimal;
    font-size: 16pt;
}


.tab-content img {
    width: 100%;
    margin-bottom: 10px;
}