<!DOCTYPE html />
<html>
  <head>
    <title>MyMealPlan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="name" content="{{name}}">    
    <link rel="icon" href="static/imgs/avocado.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="static/css/base.css" />
    <link rel="stylesheet" type="text/css" href="static/css/specials.css" />
    <link rel="stylesheet" href="static/css/mobile.css" type="text/css" media="only screen and (max-width: 760px)"/>
    
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="static/js/specials.js"></script>
    <script type="text/javascript" src="static/js/login.js"></script>
  </head>
  <body>
    <div id="nav_bar">
      <a id="logo"><strong>My Meal Plan</strong></a>
      <div id="nav_buttons">
      <a id="dininghalls" href="/dininghalls">Dining Halls</a>
      <a id="mydining" href="/mydining">My Dining</a>
      <a id="specials" href="/specials">Specials at a Glance</a>
      <a id="login" href="/login">Login</a>
      <a id="logout" href="/logout">Logout</a>
      <span id="welcomeMsg"></span>      
      </div>
    </div>
    <div id="specials-content">
      <ul id="specials-list">
      	<li id="ratty"></li>
      	<li id="vdub"></li>
      	<li id="ivyroom"></li>
      	<li id="jos"></li>
      	<li id="aco"></li>
      	<li id="blueroom"></li>
      </ul>
    </div>
    
    <div id="specials-suggest-wrapper">
      <button id="suggest" class="SuggestButton">Surprise Me!</button>
    </div>

    <div id="suggestion">
      Why not <div id="foodPicked"> </div> ?
    </div>
  </body>
</html>
