p, h1 {
    color: black;
}

@font-face {
    font-family: Antonio;
    src: url(antonio/Antonio-Regular.ttf);
}

@font-face {
    font-family: Antonio-Light;
    src: url(antonio/Antonio-Light.ttf);
}

@font-face {
    font-family: Antonio-Bold;
    src: url(antonio/Antonio-Bold);
}

body {
    width:100%;
    background-color:#C6B5C9;
    margin:auto;
    font-family: Antonio;
    color: #4A068F;
}

#content {
    font-family: "Vollkorn", sans-serif;
}

#logo {
    display:inline-block;
    width:300px;
    height:100%;
    margin:0 auto;
    font-family: Antonio, sans-serif;
    letter-spacing: -5px;
    padding-left:30px;
    font-size:24pt;
    color:white;
}

#nav_bar {
    display:inline-block;
    height:50px;
    width:100%;
    color:white;
    background-color:#4A068F;
}

#nav_buttons {
    display:inline-block;
    height:100%;
    width:580px;
    
}

#nav_buttons a {
    display:inline-block;
    margin:0 auto;
    padding:0 15px 0 15px;
    color:white;
    font-size:16pt;
    text-decoration:none;
}

#nav_buttons a:link {
    color:white;
    vertical-align:center;
}

#nav_buttons a:hover {
    color:white;
    background-color:#7309AA;
}


/*
  css for specials page 
*/
#specials-content {
    width: 600px;
    margin-left: calc(50% - 300px);
    margin-top: 50px;
}

#specials-content li {
    list-style: none;
}
#specials-suggest-wrapper {
    margin-top: 50px;
    text-align: center;
}
.SuggestButton {
	background-color:#4A068F;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
/*	border:1px solid #4A068F;
*/	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4A068F;
}
.SuggestButton:hover {
	background-color:#C6B5C9;
	color: #4A068F;
}
.SuggestButton:active {
	position:relative;
	top:1px;
}

#suggestion {
	text-align: center;
	width: 100px;
}